@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
    color: $body-text-gray-color;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    color: black;
}

h2 {
    font-weight: 900;
    font-size: 40px;
    color: black;
}

h3 {
    font-weight: 700;
    font-size: 19px;
    color: black;
}
