@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-page {
  margin-top: 86px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 123px;
  @media screen and (max-width: $tablet-vertical-max-width) {
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: $tablet-vertical-max-width) {
    flex-direction: column;
  }

  .catalog-left-column {
    @media screen and (min-width: $desktop-breakpoint) {
      min-width: 910px;
    }
    .catalog-top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
    }
    .catalog-top-bar p {
      font-size: 16px;
    }

    .sorting-select,
    .customized-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 180px;
      padding: 10px 14px;
      font-size: 16px;
      color: $body-text-gray-color;
      border: 2px solid $select-border-color;
      outline: none;
      cursor: pointer;
      background: url("../assets/images/product-page/select-arrow.svg")
        no-repeat right 14px center;
      background-size: 12px;
    }

    .catalog-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 11px;
      row-gap: 50px;
      @media screen and (max-width: $tablet-max-width) and (min-width: $tablet-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 11px;
        row-gap: 30px;
      }
      @media screen and (max-width: $mobile-max-width) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }
      @media screen and (max-width: 520px) {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .product-item {
        box-sizing: border-box;
        .product-image img {
          @media (min-width: $desktop-breakpoint) {
            width: 100%;
          }
        }
      }
    }

    .pagination {
      margin-top: 60px;
      display: flex;
      justify-content: center;

      .pagination-item {
        min-width: 41px;
        margin: 0 5px;
        background: none;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 15px;
        color: black;
        transition: background 0.3s ease;
        padding: 11px 16px;
        border-radius: 4px;
        font-family: "Inter", sans-serif;
        &:hover {
          background-color: $primary-accent-color;
          cursor: pointer;
          color: white;
        }
        &.pagination-current {
          background-color: $primary-accent-color;
          color: white;
        }
      }

      .next-btn {
        position: relative;
        left: 300px;
        @media screen and (max-width: $tablet-max-width) {
          left: 150px;
        }
        @media screen and (max-width: 520px) {
          left: 50px;
        }
        background: none;
        outline: none;
        font-weight: 700;
        font-size: 11px;
        color: black;
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
        padding: 14px 20px;
        border-radius: 4px;
        border: 2px solid $primary-accent-color;
        transition: background 0.3s ease;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primary-accent-color;
        }

        &::after {
          content: "";
          display: inline-block;
          margin-left: 13px;
          width: 12px;
          height: 8px;

          // Inline SVG as background
          background-image: url("../assets/images/catalog/arrow.svg");
          background-repeat: no-repeat;
          background-size: contain;
          vertical-align: middle;
        }
      }
      .prev-btn {
        position: relative;
        right: 300px;
        @media screen and (max-width: $tablet-max-width) {
          right: 150px;
        }
        @media screen and (max-width: 520px) {
          right: 50px;
        }
        background: none;
        outline: none;
        font-weight: 700;
        font-size: 11px;
        color: black;
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
        padding: 14px 20px;
        border-radius: 4px;
        border: 2px solid $primary-accent-color;
        transition: background 0.3s ease;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primary-accent-color;
        }
      }
    }
  }
  .catalog-right-column {
    .catalog-top-bar-right {
      margin-bottom: 35px;
      position: relative;
      width: 341px;

      .search-input {
        width: 100%;
        padding: 9px 14px; /* leave space for the icon */
        color: $body-text-gray-color;
        border: 2px solid $select-border-color;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
      }

      .search-icon {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: $body-text-gray-color;
      }
    }

    .sets {
      .sets-title {
        @extend %text-heading;
        font-size: 17px;
        color: black;
        margin-bottom: 23px;
      }

      .sets-list {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        @media screen and (max-width: $tablet-vertical-max-width) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .set-item {
          display: flex;
          gap: 20px;

          .set-info {
            display: flex;
            flex-direction: column;

            .set-name,
            .set-desc {
              font-size: 15px;
            }
            .set-desc {
              margin-bottom: 3px;
            }

            .set-rating {
              margin-bottom: 7px;
            }
            .set-price {
              font-size: 15px;
              color: black;
            }
          }
        }
      }
    }
  }

  .slide {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
  }

  .slide.open {
    max-height: 1000px;
    margin-bottom: 40px;
  }
  .filters-container {
    @extend %main-accent-top-border;
    @extend %main-accent-bottom-border;
    margin-bottom: 20px;
    padding: 22px 8px 35px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:$mobile-max-width) {
      flex-wrap: wrap;
    }

    .filters-select-container {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      align-items: flex-start;

      label {
        @extend %text-heading;
        font-size: 17px;
        margin-bottom: 13px;
      }
      select {
        max-width: 200px;
      }
      select:focus {
        border-color: #007bff;
        color: #000;
      }
    }
  }
}
