@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    max-width: 210px;
  }
  a {
    display: block;
  }
  .product-image {
    position: relative;
    @extend %main-box-shadow;
    margin-bottom: 24px;

    img {
      display: block;
      @media (max-width: $tablet-max-width) {
        width: 210px;
      }
    }
  }

  .sale-label {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: $primary-accent-color;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    @extend %text-heading;
    padding: 7px 11px;
  }

  h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  .price {
    text-align: center;
    @extend %text-heading;
    font-size: 19px;
    margin-bottom: 16px;
  }
}
