@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  @extend %text-heading;
  background-color: $primary-accent-color;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  outline: none;

  &:hover {
    background-color: $button-hover-color;
  }

  /* padding variants */
  &--main {
    padding: 18px 21px 20px 19px;
  }
  &--discount {
    padding: 18px 27px 20px 25px;
  }
  &--add-to-cart {
    padding: 9px 26px 11px 29px;
    display: block;
    margin: 0 auto;
  }

  &--product-addtocart {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 18px;
    flex: 1;
  }
  &--user-login {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    flex: 1;
    text-transform: uppercase;
    font-size: 12px;
  }

  &--offer {
    max-width: 200px;
    padding: 18px 25px 20px;
  }
  &--review-submit {
    padding: 13px 22px;
    @extend %text-heading;
    font-size: 12px;
    text-transform: uppercase;
  }
  &--cart-page {
    padding: 20px 18px 22px;
    width: 224px;
    box-sizing: border-box;
    @extend %text-heading;
    font-size: 15px;
  }
  &--checkout-page {
    text-transform: uppercase;
    padding: 10px 60px;
  }
  &--btn-contact {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 13px 28px;
    max-width: 90px;
  }
  &--show-filters {
    padding: 10px 15px;
  }
}

.btn-quantity {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  @extend %text-heading;
  color: $quantity-buttons-color;
  font-size: 25px;
  transition: color 0.3s ease;
  display: inline-block;

  &:hover {
    color: $button-hover-color;
  }
}
