@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.benefits {
  @include section-bottom-margin();
  background: url("../assets/images/footer/footer-bg-lines.png")
      no-repeat,
    url("../assets/images/footer/footer-bg-bottom.png") no-repeat;

  background-size: cover, cover;
  background-position: center, center;
  padding: 37px 0px 40px;

  h3 {
    color: white;
    @extend %text-footer-heading;
    font-size: 19px;
    margin-bottom: 32px;
  }
  @media screen and (max-width:$mobile-max-width) {
      text-align: center;
    }

  .benefit-items {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:$mobile-max-width) {
      flex-direction: column;
      gap:16px;
    }

    li {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      @media screen and (max-width:$mobile-max-width) {
      justify-content: center;
    }

      img {
        display: block;
      }
      p {
        max-width: 190px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: white;
      }
    }
  }
}

.grid-footer-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 50px 10px;
  margin-bottom: 110px;

  h3 {
    color: black;
    @extend %text-footer-heading;
    font-size: 15px;
    margin-bottom: 24px;
  }

  .footer-contact-info {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: black;
    line-height: 27px;
  }
  .footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-links-list li {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 400;
  }

  .footer-phone {
    display: flex;
    gap: 14px;
    align-items: flex-end;
    margin-bottom: 32px;
  }

  .block6 .footer-phone {
    margin-top: -5px;
  }

  .block6 p,
  .block7 p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: black;
  }

  .footer-date-loc {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .block6 .footer-date-loc img {
    width: 27px;
    height: 27px;
  }

  .footer-dates {
    display: flex;
    flex-direction: column;
  }
}

.block1 {
  grid-column: 1 / 2;
  grid-row: 1;
}
.block2 {
  grid-column: 2 / 3;
  grid-row: 1;
}
.block3 {
  grid-column: 3 / 4;
  grid-row: 1;
}
/* 1 space for column 4 */
.block4 {
  grid-column: 5 / 7;
  grid-row: 1;
} // spans 2 columns

.block5 {
  grid-column: 1 / 4;
  grid-row: 2;
} // spans 3 columns
/* 1 space for column 4 */
.block6 {
  grid-column: 5 / 6;
  grid-row: 2;
  align-self: end;
}
.block7 {
  grid-column: 6 / 7;
  grid-row: 2;
  align-self: end;
  @media screen and (max-width:$tablet-max-width) and (min-width:$tablet-breakpoint) {
    align-self: center;
  }
}

@media (max-width: $tablet-breakpoint) {
   .block6 {
    grid-column: 1 / 4; 
    grid-row: 3;
  }

  .block7 {
    grid-column: 4 / 7; 
    grid-row: 3;
  }
}
@media (max-width: $mobile-max-width) {
  .grid-footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px; 
  }

  .block1 { grid-column: 1 / 2; grid-row: 1; }
  .block2 { grid-column: 2 / 3; grid-row: 1; }

  .block3 { grid-column: 1 / 2; grid-row: 2; }
  .block4 { grid-column: 2 / 3; grid-row: 2; }

  .block5 { grid-column: 1 / 3; grid-row: 3; } 

  .block6 { grid-column: 1 / 2; grid-row: 4; }
  .block7 { grid-column: 2 / 3; grid-row: 4; }
}

.copyright {
    text-align: center;
    margin-bottom: 46px;
     font-family: "Inter", sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.35);
}