@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  transition: box-shadow 0.25s ease;
}
header.scrolled {
  @extend %main-box-shadow;
}

.container {
  @include container();
}

.top-header-block {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 50px 0;
  align-items: center;
  border-bottom: 1px solid rgba($primary-gray-decoration-color, 0.2);
  @media screen and (max-width: $mobile-max-width) {
    flex-direction: column;
    gap: 16px;
  }
}

.social-icons {
  display: flex;
  gap: 20px;
}

.user-links {
  display: flex;
  gap: 20px;

  .counter-container {
    position: relative;

    .cart-counter {
      left: 60%;
      top: -12px;
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      font-weight: 600;
      font-size: 12px;
      border-radius: 50%;
      border: 2px solid $primary-accent-color;
      color: $primary-accent-color;
      text-align: center;
    }
  }
}

.logo {
  position: relative;

  .inner_bag {
    position: absolute;
    top: 0.15em;
    left: 0.1em;
  }
}

.main-nav {
  margin: 29px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 29px;
  padding-bottom: 24px;

  li {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;

    a {
      transition: color 0.3s ease;
    }

    a:hover,
    .active {
      color: $primary-accent-color;
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $primary-accent-color;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@media (max-width: $mobile-max-width) {
  nav {
    margin-top: 15px;
  }

  header {
    padding-bottom: 15px;
  }

  .main-nav {
    position: absolute;
    top: 244px; 
    left: 0;
  
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:80vw;
    transform: translateX(-100%); 
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0px 20px 80px rgba(193, 199, 212, 0.7);
    z-index: 10;
  }

  .main-nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .hamburger {
    display: flex;
  }
}

//Modal popup
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-content {
    box-sizing: border-box;
    background: white;
    padding: 47px 70px;
    max-width: 480px;
    text-align: center;
    position: relative;
  }
}
